* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    color: #444;
    background-color: #f4f3f0;
    font-size: 2em;
    font-family: 'Gentium Book Basic', Georgia, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #68614F;
    word-break: break-word;
}

    h1 small, h2 small, h3 small, h4 small, h5 small {
        display: block;
    }

    h1 small {
        color: #9B9482;
        text-transform: lowercase;
        font-size: .6em;
        position: relative;
    }

#tumblrfeed {
    position: relative;
}

    #tumblrfeed h1 a:visited,
    #tumblrfeed h1 a:active,
    #tumblrfeed h1 a {
        color: #68614F;
    }

        #tumblrfeed h1 a:hover {
            color: #56BC8A;
        }

    #tumblrfeed .fa-tumblr {
        position: relative;
        font-size: 1em;
        margin-right: 20px;
        opacity: .7;
    }

        #tumblrfeed .fa-tumblr:hover {
            opacity: 1;
        }

h2 {
    color: #56BC8A;
}

h3 {
    color: #413A29;
}

h4 {
    color: #4F5668;
    font-weight: 700;
}

a {
    color: #56BC8A;
}

    a:hover {
        color: #68654F;
    }

p {
    padding-top: 10px;
    font-size: 1em;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #d4d0c4;
    padding: 0;
}

button {
    font-family: Calibri;
}

.modal-content {
    padding: 0 10px;
}

.modal-body {
    overflow: auto;
}

.title {
    position: fixed;
    height: 100%;
    width: 33.33%;
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
}

    .title h1 {
        min-height: 200px;
        padding: 40px 0;
        text-shadow: 0px 5px 12px #a79f8b;
        border-bottom: 4px double #837a63;
        text-transform: uppercase;
    }

        .title h1 span {
            padding: 0;
            margin: 0;
            color: #56BC8A;
        }

   .title .avatar img {
        margin: 40px auto;
        max-width: 50%;
        border: 1px solid #68614F;
    }


.link-strip {
    position: relative;
    min-height: 75px;
    font-size: 2em;
    width: 100%;
}

    .link-strip .fa {
        text-shadow: 0px 10px 15px #a8a18a;
        cursor: pointer;
        padding: 0 5px;
        -webkit-transition: font-size 2s; /* For Safari 3.1 to 6.0 */
        transition: font-size .5s, top .5s;
    }

        .link-strip .fa:hover {
            top:3px;
            font-size: 1.2em;
        }

    .link-strip a:hover {
        text-decoration: none;
    }

.fa-facebook-square {
    color: #3b5998;
}

.fa-linkedin-square {
    color: #007bb6;
}

.fa-twitter-square {
    color: #00aced;
}

.fa-github-square {
    color: #333;
}

.fa-stack-overflow {
    color: #07C;
}

.fa-google-plus-square {
    color: #d34836;
}

.fa-tumblr-square, .fa-tumblr {
    color: #32506d;
}

#scroll-top {
    display: none;
}

.newsfeed-bg {
    position: fixed;
    left: 33.33%;
    height: 100%;
    /*max-width: 900px;*/
    width: 58.33%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 10px 25px #a8a18a;
    /*background: linear-gradient(#fff,#eee);*/
    background-color: white;
}

.newsfeed {
    position: relative;
    width: 58.33%;
    padding:50px 75px;
}


    .newsfeed h1 {
        font-size: 2em;
        color: #68614F;
        text-shadow: 5px 2px 5px #dedbd3;
    }

        .newsfeed h1.section-title {
            font-size: 2.5em;
            padding: 20px;
            border-top: 10px solid #a79f8b;
            border-bottom: 3px solid #dedbd3;
        }

#resume h4, #resume p {
    position: relative;
    top: -10px;
}

.section-divider {
    margin: 100px 0 27px 0;
    width: 100%;
    text-align: center;
}

    .section-divider .fa {
        font-size: .5em;
        width: 10%;
        color: #d4d0c4;
    }

.nav-container {
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border-top: 1px solid #a79f8b;
    border-bottom: 1px solid #a79f8b;
}

    .nav-container a {
        font-size: 1.3em;
    }

    .nav-container .fa {
        position: relative;
        font-size: .3em;
        top: -5px;
    }

    .nav-container ul.list-inline {
        margin-bottom: 0px;
    }

.portfolio-item img {
    max-width: 40%;
    float: left;
    margin: 0 15px 15px 0;
}

.portfolio-item h2 {
    margin-top: 2px;
}

.modal-body img {
    max-width: 37%;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
}

.to-top {
    z-index: 10;
    width: 58.33%;
    text-align: center;
    left: 33.33%;
    position: fixed;
    bottom: 30px;
}

    .to-top .fa {
        font-size: 4em;
        opacity: .3;
        transition: font-size .8s, opacity .8s;
        color: #333;
    }

        .to-top .fa:hover {
            font-size: 4.5em;
            opacity: .8;
        }

.color-primary-0 {
    color: #68614F;
}
/* Main Primary color */
.color-primary-1 {
    color: #C2B9A3;
}

.color-primary-2 {
    color: #968D76;
}

.color-primary-3 {
    color: #413A29;
}

.color-primary-4 {
    color: #3F3419;
}


/* Social Media Brand Colors
 
twitter:     #00aced     rgb(0, 172, 237)
facebook:    #3b5998     rgb(59, 89, 152)
googleplus:  #dd4b39     rgb(221, 75, 57)
pinterest:   #cb2027     rgb(203, 32, 39)
linkedin:    #007bb6     rgb(0, 123, 182)
youtube:     #bb0000     rgb(187, 0, 0)
vimeo:       #aad450     rgb(170, 212, 80)
tumblr:      #32506d     rgb(50, 80, 109)
instagram:   #517fa4     rgb(81, 127, 164)
flickr:      #ff0084     rgb(255, 0, 132)
dribbble:    #ea4c89     rgb(234, 76, 137)
quora:       #a82400     rgb(168, 36, 0)
foursquare:  #0072b1     rgb(0, 114, 177)
forrst:      #5B9A68     rgb(91, 154, 104)
vk:          #45668e     rgb(69, 102, 142)
wordpress:   #21759b     rgb(33, 117, 155)
stumbleupon: #EB4823     rgb(235, 72, 35)
yahoo:       #7B0099     rgb(123, 0, 153)
blogger:     #fb8f3d     rgb(251, 143, 61)
soundcloud:  #ff3a00     rgb(255, 58, 0)
 
*/




/*xs*/
@media(max-width:767px) {

    h1 {
        font-size: 2em;
    }

        h1 small {
            display: block;
        }

    .to-top {
        width: 100%;
        left: 0;
    }

        .to-top .fa {
            font-size: 3em;
            opacity: .3;
        }

            .to-top .fa:hover {
                font-size: 3em;
                opacity: .3;
            }

    .newsfeed-bg {
        width: 100%;
        left: 0;
    }

    .newsfeed {
        width:100%;
        padding: 25px 5px 30px 5px;
    }

    .nav-container {
        font-size: .8em;
        text-align: center;
    }

        .nav-container .fa {
            display: none;
        }



    .newsfeed .title-xs {
        position: relative;
        text-align: center;
        margin-bottom: 25px;
        padding: 15px 0;
        background-color: #f4f3f0;
        border: 1px solid #ccc;
        box-shadow: 0px 5px 12px #a8a18a;
    }

        .newsfeed .title-xs h1 {
            display: inline;
            font-size: 30px;
            text-transform: uppercase;
            border-bottom: 4px double #837a63;
        }

            .newsfeed .title-xs h1 span {
                display: inline;
                color: #56BC8A;
            }

        .newsfeed .title-xs img {
            display: inline;
            margin-right: 10px;
            max-height: 50px;
            border: 2px solid #a8a18a;
        }

    .newsfeed .link-strip-xs {
        font-size: 1.4em;
    }

        .newsfeed .link-strip-xs .fa {
            text-shadow: 0px 10px 15px #a8a18a;
            padding: 15px 7px;
        }

            .newsfeed .link-strip-xs .fa:hover {
                font-size: unset;
            }

    .newsfeed section .portfolio-item h1 {
        font-size: 1.25em;
    }

    .portfolio-item p {
        display: block;
        clear: both;
    }
}

@media(min-width:768px) {
}
/*md*/
@media(min-width:992px) {
}

/*lg*/
@media(min-width:1200px) {
}

/*col-sm */
@media (max-width: 768px) {
}
