* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    color: #444;
    background-color: #dedbd3;
    font-size: 2em;
    font-family: 'Gentium Book Basic', Georgia, serif;
}

section {
    padding-bottom: 200px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #68614F;
}

    h1 small {
        display: inline;
        color: #9B9482;
        text-transform: lowercase;
        font-size: .6em;
        position: relative;
    }

h2 {
    color: #56BC8A;
}

h3 {
    color: #413A29;
}

h4 {
    color: #4F5668;
    font-weight: 700;
}

a {
    color: #56BC8A;
}

    a:hover {
        color: #68654F;
    }

p {
    font-size: 1em;
}

.title {
    position: fixed;
    height: 100%;
    width: 35%;
    padding: 0 35px;
    margin: 0 auto;
    text-align: center;
}

    .title h1 {
        min-height: 150px;
        padding: 10px 0;
        text-shadow: 0px 20px 12px #837a63;
        border-bottom: 4px double #837a63;
        text-transform: uppercase;
    }

        .title h1 span {
            padding: 0;
            margin: 0;
            color: #56BC8A;
        }

    .title img {
        margin: 10% auto;
        max-width: 50%;
        border: 1px solid #68614F;
    }

.link-strip {
    position: relative;
    font-size: 2em;
    width: 100%;
    cursor: pointer;
}

    .link-strip .fa {
        text-shadow: 0px 20px 12px #837a63;
        -webkit-transition: font-size 2s; /* For Safari 3.1 to 6.0 */
        transition: font-size .5s;
    }

        .link-strip .fa:hover {
            font-size: 1.2em;
        }

    .link-strip .fa-facebook-square {
        color: #3b5998;
    }

    .link-strip .fa-twitter-square {
        color: #00aced;
    }

    .link-strip .fa-github-square {
        color: #333;
    }

    .link-strip .fa-stack-overflow {
        color: #07C;
    }

    .link-strip .fa-google-plus-square {
        color: #d34836;
    }

    .link-strip .fa-tumblr-square {
        color: #32506d;
    }

footer {
    position: relative;
    top: 75px;
    min-height: 50px;
    padding: 25px 0;
    box-sizing: border-box;
    border-top: 4px double #837a63;
}

.newsfeed-bg {
    position: fixed;
    left: 35%;
    height: 100%;
    max-width: 900px;
    width: 60%;
    background-color: #eee;
    border-left: 1px solid #a79f8b;
    border-right: 1px solid #a79f8b;
    box-sizing: border-box;
    box-shadow: 0px 10px 25px #2c2921;
}

#scroll-top {
    display: none;
}


.newsfeed {
    position: relative;
    max-width: 900px;
    padding: 50px 120px 30px 100px;
}


.newsfeed h1{
    color: #68614F;
    text-shadow: 5px 2px 5px #dedbd3;
}

.newsfeed h1.section-title {
    padding: 20px;
    border-top: 10px solid #a79f8b;
    border-bottom: 3px solid #a79f8b;
}
.newsfeed p{
    padding:2px 10px;
}
.newsfeed hr {
    border-bottom: 1px solid #a79f8b;
}

.nav-container {
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border-top: 1px solid #a79f8b;
    border-bottom: 1px solid #a79f8b;
}

    .nav-container a {
        font-size: 1.3em;
    }

    .nav-container .fa {
        position: relative;
        font-size: .3em;
        top: -5px;
    }

    .nav-container ul.list-inline {
        margin-bottom: 0px;
    }

.to-top {
    width: 60%;
    max-width: 900px;
    left: 35%;
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 30px;
}

    .to-top .fa {
        font-size: 4em;
        opacity: .2;
        transition: font-size .8s, opacity .8s;
        color: #333;
    }

        .to-top .fa:hover {
            font-size: 5em;
            opacity: .8;
        }




.color-primary-0 {
    color: #68614F;
}
/* Main Primary color */
.color-primary-1 {
    color: #C2B9A3;
}

.color-primary-2 {
    color: #968D76;
}

.color-primary-3 {
    color: #413A29;
}

.color-primary-4 {
    color: #3F3419;
}


/* Social Media Brand Colors
 
twitter:     #00aced     rgb(0, 172, 237)
facebook:    #3b5998     rgb(59, 89, 152)
googleplus:  #dd4b39     rgb(221, 75, 57)
pinterest:   #cb2027     rgb(203, 32, 39)
linkedin:    #007bb6     rgb(0, 123, 182)
youtube:     #bb0000     rgb(187, 0, 0)
vimeo:       #aad450     rgb(170, 212, 80)
tumblr:      #32506d     rgb(50, 80, 109)
instagram:   #517fa4     rgb(81, 127, 164)
flickr:      #ff0084     rgb(255, 0, 132)
dribbble:    #ea4c89     rgb(234, 76, 137)
quora:       #a82400     rgb(168, 36, 0)
foursquare:  #0072b1     rgb(0, 114, 177)
forrst:      #5B9A68     rgb(91, 154, 104)
vk:          #45668e     rgb(69, 102, 142)
wordpress:   #21759b     rgb(33, 117, 155)
stumbleupon: #EB4823     rgb(235, 72, 35)
yahoo:       #7B0099     rgb(123, 0, 153)
blogger:     #fb8f3d     rgb(251, 143, 61)
soundcloud:  #ff3a00     rgb(255, 58, 0)
 
*/




/*xs*/
@media(max-width:767px) {

    h1 small {
        display: block;
    }

    .to-top {
        width: 100%;
        left: unset;
    }

        .to-top .fa {
            font-size: 2em;
        }

            .to-top .fa:hover {
                font-size: 3em;
            }

    .newsfeed-bg {
        width: 100%;
        left: unset;
    }

    .newsfeed {
        padding: 25px 25px 30px 25px;
    }

    .nav-container {
        font-size: .8em;
        text-align: center;
    }

        .nav-container .fa {
            display: none;
        }



    .newsfeed .title-xs {
        position: relative;
        text-align: center;
        margin-bottom: 25px;
        padding: 10px 0;
        background-color: #dedbd3;
        border: 1px solid #ccc;
    }

        .newsfeed .title-xs h1 {
            display: inline;
            font-size: 30px;
            text-transform: uppercase;
            border-bottom: 4px double #837a63;
        }

            .newsfeed .title-xs h1 span {
                display: inline;
                color: #56BC8A;
            }

        .newsfeed .title-xs img {
            display: inline;
            margin-right: 10px;
            max-height: 50px;
            border: 1px solid #68614F;
        }
}

@media(min-width:768px) {
}
/*md*/
@media(min-width:992px) {
}

/*lg*/
@media(min-width:1200px) {
}

/*col-sm */
@media (max-width: 768px) {
}
