* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #f5f3f3;
    color: #444;
    font-size: 2em;
    font-family: 'Gentium Book Basic', Georgia, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    color: #56BC8A;
    text-shadow: 5px 2px 5px #dedede;
}

h3 {
    color: #413A29;
}

a {
    color: #057940;
    font-size: 1.8em;
}

    a:hover {
        color: #68654F;
    }

.newsfeed h1 {
    color: #68614F;
    text-shadow: 5px 2px 5px #dedede;
}

.title {
    position: fixed;
    width: 35%;
    top: 25px;
    margin: 0 auto;
    text-align: center;
}

    .title h1 {
        text-shadow: 5px 2px 5px #ccc;
    }

        .title h1 span {
            color: #68614F;
        }

    .title img {
        margin: 0 auto;
        max-width: 50%;
        border: 3px solid #666;
    }

.newsfeed-bg {
    position: fixed;
    left: 35%;
    height: 100%;
    width: 60%;
    padding: 50px 80px;
    background-color: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    box-sizing: border-box;
    box-shadow: 1px 10px 10px #333;
}

.newsfeed {
    position: relative;
    padding: 50px 80px 30px 50px;
}

.to-top {
    width: 60%;
    left: 35%;
    text-align: center;
    z-index: 10;
    position: fixed;
    bottom: 30px;
}

    .to-top .fa {
        font-size: 3em;
        opacity: .2;
        transition: font-size .8s, opacity .8s;
        color: #333;
    }

        .to-top .fa:hover {
            font-size: 3.5em;
            opacity: .8;
        }

#top {
    display: none;
}

.link-strip {
    position: relative;
    top: 35px;
    font-size: 2em;
}

    .link-strip .fa {
        text-shadow: 0px 30px 15px #ccc;
        -webkit-transition: font-size 2s; /* For Safari 3.1 to 6.0 */
        transition: font-size .5s;
    }

    .link-strip i:hover {
        font-size: 1.2em;
    }

    .link-strip .fa-facebook-square {
        color: #3b5998;
    }

    .link-strip .fa-twitter-square {
        color: #00aced;
    }

    .link-strip .fa-github-square {
        color: #333;
    }

    .link-strip .fa-stack-overflow {
        color: #07C;
    }

    .link-strip .fa-google-plus-square {
        color: #d34836;
    }

    .link-strip .fa-tumblr-square {
        color: #32506d;
    }


.color-primary-0 {
    color: #68614F;
}
/* Main Primary color */
.color-primary-1 {
    color: #C2B9A3;
}

.color-primary-2 {
    color: #968D76;
}

.color-primary-3 {
    color: #413A29;
}

.color-primary-4 {
    color: #3F3419;
}


/* Social Media Brand Colors
 
twitter:     #00aced     rgb(0, 172, 237)
facebook:    #3b5998     rgb(59, 89, 152)
googleplus:  #dd4b39     rgb(221, 75, 57)
pinterest:   #cb2027     rgb(203, 32, 39)
linkedin:    #007bb6     rgb(0, 123, 182)
youtube:     #bb0000     rgb(187, 0, 0)
vimeo:       #aad450     rgb(170, 212, 80)
tumblr:      #32506d     rgb(50, 80, 109)
instagram:   #517fa4     rgb(81, 127, 164)
flickr:      #ff0084     rgb(255, 0, 132)
dribbble:    #ea4c89     rgb(234, 76, 137)
quora:       #a82400     rgb(168, 36, 0)
foursquare:  #0072b1     rgb(0, 114, 177)
forrst:      #5B9A68     rgb(91, 154, 104)
vk:          #45668e     rgb(69, 102, 142)
wordpress:   #21759b     rgb(33, 117, 155)
stumbleupon: #EB4823     rgb(235, 72, 35)
yahoo:       #7B0099     rgb(123, 0, 153)
blogger:     #fb8f3d     rgb(251, 143, 61)
soundcloud:  #ff3a00     rgb(255, 58, 0)
 
*/




/*xs*/
@media(max-width:767px) {
}


/*custom width based on title name*/
@media (max-width:986px) {
    .portable-menu {
        width: 100%;
        left: unset;
    }

    .container-fluid {
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .newsfeed {
        width: 100%;
    }

    .newsfeed-bg {
        width: 100%;
        left: unset;
    }
}

@media(min-width:768px) {
}
/*md*/
@media(min-width:992px) {
}

/*lg*/
@media(min-width:1200px) {
}

/*col-sm */
@media (max-width: 768px) {
}
