@{
    ViewBag.Title = "Benjamin Bakle";
}
<section>
    <h1>First, a little about me <small>let me clear my throat...</small></h1>
</section>


<!-- start slipsum code -->

<section id="blog">
    <h1 class="section-title"><i class="fa fa-commenting" aria-hidden="true"></i> BLOG <small>sharing nerd experiences with the easily amused</small></h1>
    <h2>The Birth of A Website<small> not this one, that other one...</small></h2>
    <i>November 11th, 2011</i>
    <p>Today is the birth of the Bakle House website. I have thought for years about attempting such a feat. Much like an actual birth, there has been lots of grunting and complaining. But, with inspiration, determination, and many other 'ations', it has finally arrived. I thought it was time to start flexing my bits and bytes and assemble them into a goolosh of binary numbers to be served into stimulating images and code mastery for the worlds enjoyment. But mostly I did it to fuel my own ego and attempt to put out an online resume of what I am capable of. For now, just look and don't touch. Expensive coding at work.</p>
</section>

<section id="portfolio">
    <h1 class="section-title"><i class="fa fa-book" aria-hidden="true"></i> Portfolio <small>hey look, I've done stuff</small></h1>
    <h1>Uuummmm, this is a tasty burger!</h1>
    <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
</section>

<section id="resume">
    <h1 class="section-title"><i class="fa fa-history" aria-hidden="true"></i> Resume <small>I have history</small></h1>
    <div id="resume_container" class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4>Career Objective</h4>
            </div>
            <div class="col-md-8">
                To obtain a position in web design and applications which will
                apply my background and experience in ASP.NET/VB.NET,
                HTML/CSS and Javascript/JQuery.
            </div>
            <div class="col-md-4">
                <h4>Summary of Qualifications</h4>
            </div>
            <div class="col-md-8">
                <ul>
                    <li>Co-founder of Bzaro Web Design and Applications</li>
                    <li>High energy; take initiative to better productivity and efficiency</li>
                    <li>Recognized for high ethical standards in all work performed</li>
                    <li>Reputation as a dependable, accountable and trust worthy employee</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Background</h4>
            </div>
            <div class="col-md-8">
                <h2>General Manager <small>2002 to 2007</small></h2>
                <h3>Conser Music, Fort Wayne, IN</h3>
                <p>
                    Managed day-to-day operations for sales, repairs, and lessons. Trained
                    office staff and provided tools they required to reach expectations and
                    achieve objectives. Managed client relations. Implemented the design and
                    development of www.consermusic.com website. Worked directly with the owner
                    to improve sales and customer service. Improved skill of multi-tasking, due
                    to the eclectic demand of the job.
                </p>
                <br />
                <h2>Self-Employed<small>2006 to 2007</small></h2>
                <h3>Bzaro (www.bzaro.com), Fort Wayne, IN </h3>
                <p>
                    Implementation of a web application business co-founded with Jon Fazzaro.
                    Created web based applications using skills such as: HTML/CSS; ASP.NET/VB.NET;
                    ASP/Vbscript; Database Administration.
                </p>
                <br />
                <h2>Lost Prevention<small>2001 to 2002 </small></h2>
                <h3>Best Buy, Fort Wayne, IN</h3>
                <p>
                    Worked to limit product loss by monitoring customers and employee activity.
                    Utilized video surveillance equipment to identify and track shoplifters.
                    Demonstrated ability to assess risk and respond appropriately.
                </p>
                <br />
                <h2>Security<small>2000 to 2001</small></h2>
                <p>
                    Kroger, Bloomington, IN
                </p>
                <p>
                    Assisted in the loss prevention program at each of the Kroger grocery stores in
                    Bloomington, IN. The loss prevention program included enforcing store rules and
                    regulations amoung teh employees and to provent the act of shoplifting in every
                    aspect of the store. Trained staff on detecting shoplifters, profiling robbery
                    suspects, and explained state laws concerning such matters. Trained in interview
                    and interrogation techniques.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Volunteer</h4>
            </div>
            <div class="col-md-8">

                <h2>Youth Leader<small>2003 to 2010</small></h2>
                <h3>
                    Faith Baptish Church, Fort Wayne, IN
                </h3>
                <p>
                    Worked with other youth leaders to create a positive and inviting environment for
                    young adults with such activities as bible studies, drama, mission trips, and music
                    events.
                </p>
            </div>
            <div class="col-md-4">

                <h4>Education</h4>
            </div>
            <div class="col-md-8">

                <h2>Microsoft Certified Technical Specialist (Training) 70-515<small>2011 to Present</small></h2>

                <p>
                    Web Applications Development with .NET Framework 4
                <p>
                    Currently in training for Microsoft 70-515 certification. Concentration on VB.NET as
                    it applies to web based applications.
                </p>
                <br />
                <h2>B.A. Criminal Justice, Minor: Information Technology<small>2007</small></h2>
                <p>
                    Indiana University, Bloomington, IN. Experience gained through course work:
                </p>
                <p>
                    Detailed study in the criminal justice system. Concentration in the areas of
                    criminal justice and information technology have rounded out my background.
                </p>

            </div>
        </div>
    </div>
</section>