@{
    ViewBag.Title = "Benjamin Bakle";
}
<section>
    <div class="container-fluid">
        <h1>First, a little about me <small>let me clear my throat...</small></h1>
        <p>
            <h2>Coming soon... <small>it's ok to get excited</small></h2>
        </p>
    </div>
</section>
<div class="section-divider">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
</div>
@*<pre class="prettyprint lang-html">
    &lt;div&gt;
        &lt;div&gt;
            Code?
        &lt;/div&gt;
    &lt;/div&gt;
    </pre>*@

<section id="blog">
    <h1 class="section-title"><i class="fa fa-commenting" aria-hidden="true"></i> BLOG <small>sharing nerd experiences with the easily amused</small></h1>
    <div class="container-fluid">
        <div id="tumblrfeed">
        </div>
    </div>
    <div class="container-fluid">
        <h1>The Birth of A Website <small>not this one, that other one</small></h1>
        <i>November 11th, 2011</i>
        <p>
            Today is the birth of the Bakle House website. I have thought for years about attempting such a feat. Much like an actual birth, there has been lots of grunting and complaining. But, with inspiration, determination, and many other 'ations', it has finally arrived. I thought it was time to start flexing my bits and bytes and assemble them into a goulash of binary numbers to be served into stimulating images and code mastery for the worlds enjoyment. But mostly I did it to fuel my own ego and attempt to put out an online resume of what I am capable of. For now, just look and don't touch. Expensive coding at work.
        </p>


    </div>

</section>
<div class="section-divider">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
</div>
<section id="portfolio">
    <h1 class="section-title"><i class="fa fa-book" aria-hidden="true"></i> Portfolio <small>hey! look what I can do</small></h1>
    <div class="container-fluid portfolio-item">
        <h1>www.benjaminbakle.com</h1>
        <br />

        <!-- Trigger the modal with a button -->
        <a href="#profile">
            <img src="~/images/screenshots/bb-screenshot.png" data-toggle="modal" data-target="#myModal" />
        </a>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Yep, you really clicked it</h1>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <img src="~/images/Ben3.jpg" style="float:left;" class="img-circle" />
                            <p>
                                <h2>I appriciate your unsettling interest in me,</h2>
                                Creating a link was more to keep with the consistency of the page and to
                                check out this cool bootstrap modal <i>(the popup message you are reading)</i>.
                                Pretty cool right? Ok, you can close this now....
                                <br />
                                <h4>pssst... top right corner. It's the "x"</h4>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <h2>See What I Did Here <small>no, you are not seeing double... or are you?</small></h2>
        <p>
            It's a bit redundant, yes. However, I was told to self promote. Having mostly taught myself web design
            as well as not having a career in web development,
            there isn't a lot of opportunity to create or be involved in projects. So, I added this to the list. It fills up space.
            It is really all part of my plan to set you into an infinite loop of nothing but me.

            What do ya think of the picture? I was going for pensive. Don't think so? Me neither.
        </p>
    </div>
    <br />
    <hr />
    <br />
    <div class="container-fluid portfolio-item">
        <h1>www.joelyoungband.com</h1>
        <br />
        <a href="http://www.joelyoungband.com" target="_blank">
            <img src="~/images/screenshots/jyb-screenshot.png" />
        </a>
        <h2>My Journy Into MVC.NET (C#.NET) <small>a learning process</small></h2>
        <p>
            Stuff is here
        </p>
    </div>
    <br />
    <hr />
    <br />
    <div class="container-fluid portfolio-item">
        <h1>www.sensortecinc.com</h1>
        <br />
        <a href="http://www.sensortecinc.com" target="_blank">
            <img src="~/images/screenshots/st-screenshot.png" class="img-responsive" />
        </a>
        <h2>When Web Forms Was A Thing (VB.NET) <small>not a waste of time?</small></h2>
        <p>stuff</p>
    </div>
</section>
<div class="section-divider">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
</div>
<section id="resume">
    <h1 class="section-title"><i class="fa fa-history" aria-hidden="true"></i> Resume <small>I have history</small></h1>
    <div id="resume_container" class="container-fluid">

        <h1>Career Objective</h1>
        <p>
            To obtain a position in web design and applications which will
            apply my background and experience in ASP.NET/VB.NET,
            HTML/CSS and Javascript/JQuery.
        </p>

        <hr />

        <h1>Summary of Qualifications</h1>
        <p>
            <ul>
                <li>Co-founder of Bzaro Web Design and Applications</li>
                <li>High energy; take initiative to better productivity and efficiency</li>
                <li>Recognized for high ethical standards in all work performed</li>
                <li>Reputation as a dependable, accountable and trust worthy employee</li>
            </ul>
        </p>

        <hr />

        <h1>Background</h1>
        <h2>General Manager</h2>
        <h4>Conser Music, Fort Wayne, IN <small>2002 to 2007</small></h4>
        <p>
            Managed day-to-day operations for sales, repairs, and lessons. Trained
            office staff and provided tools they required to reach expectations and
            achieve objectives. Managed client relations. Implemented the design and
            development of www.consermusic.com website. Worked directly with the owner
            to improve sales and customer service. Improved skill of multi-tasking, due
            to the eclectic demand of the job.
        </p>

        <h2>Self-Employed</h2>
        <h4>Bzaro (www.bzaro.com), Fort Wayne, IN <small>2006 to 2007</small></h4>
        <p>
            Implementation of a web application business co-founded with Jon Fazzaro.
            Created web based applications using skills such as: HTML/CSS; ASP.NET/VB.NET;
            ASP/Vbscript; Database Administration.
        </p>
        <h2>Loss Prevention</h2>
        <h4>Best Buy, Fort Wayne, IN <small>2001 to 2002 </small></h4>
        <p>
            Worked to limit product loss by monitoring customers and employee activity.
            Utilized video surveillance equipment to identify and track shoplifters.
            Demonstrated ability to assess risk and respond appropriately.
        </p>
        <h2>Security</h2>
        <h4>Kroger, Bloomington, IN <small>2000 to 2001</small></h4>
        <p>
            Assisted in the loss prevention program at each of the Kroger grocery stores in
            Bloomington, IN. The loss prevention program included enforcing store rules and
            regulations among the employees as well as prevent the act of shoplifting in every
            aspect of the store. Trained staff on detecting shoplifters, profiling robbery
            suspects, and explained state laws concerning such matters. Trained in interview
            and interrogation techniques.
        </p>

        <hr />

        <h1>Volunteer</h1>
        <h2>Youth Leader</h2>
        <h4>Faith Baptish Church, Fort Wayne, IN <small>2003 to 2010</small></h4>
        <p>
            Worked with other youth leaders to create a positive and inviting environment for
            young adults with such activities as bible studies, drama, mission trips, and music
            events.
        </p>
        <hr />
        <h1>Education</h1>
        <h2>Microsoft Certified Technical Specialist (Training) 70-515 <small>2011 to Present</small></h2>
        <p>
            Web Applications Development with .NET Framework 4
        </p>
        <p>
            Currently in training for Microsoft 70-515 certification. Concentration on VB.NET as
            it applies to web based applications.
        </p>


        <h2>B.A. Criminal Justice, Minor: Information Technology <small>2007</small></h2>
        <p>
            Indiana University, Bloomington, IN. Experience gained through course work:
        </p>
        <p>
            Detailed study in the criminal justice system. Concentration in the areas of
            criminal justice and information technology have rounded out my background.
        </p>
    </div>
</section>